<meta charset="UTF-8" />
<title>EJS Is Fun</title>

<!-- CSS (load bootstrap from a CDN) -->
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css"
/>
<style>
  /* Basic styling */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.space{
  padding: 8px;
}

.ehp-brand-color{
  color: #ab834f; 
}

.big-space{
  padding: 16px;
}

body {
    font-family: sans-serif;
    font-size: 16px;
    padding-top: 50px;
}
.nav-item{
  padding: 4px;
}

.navbar-nav {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: row;
	padding-left: 10px;
	margin-bottom: 0;
	list-style: none;
}
</style>
