<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./includes/head'); %>
  </head>
  <body class="container">
    <header><%- include('./includes/header'); %></header>

    <main>
      <div class="row">
        <div class="col-sm-8">
          <div class="jumbotron">
            <h1>This is Elite Home Product's custom file-changer tool.</h1>
            <p>This tool helps to quickly rename all the files in a folder.</p>
            <p>This tool only accepts a folder to upload, not a single file.</p>
            <h3>Example:</h3>
            <p>If you have a folder full of files named "green.jpg,red.jpg,blue.jpg,yellow.jpg" </p>
            <p>You can add a root name like 400_KG_SS</p>
            <p>The resulting zip folder will now have updated filenames like: 400_KG_SS_green.jpg, 400_KG_SS_red.jpg, etc...</p>
          </div>
        </div>
        </div>
      </div>
    </main>

    <footer><%- include('./includes/footer'); %></footer>
  </body>
</html>
