<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./includes/head'); %>
  </head>
  <body class="container">
    <header><%- include('./includes/header'); %></header>

    <main>
      <div class="jumbotron">
        <h1>The easiest way to batch rename files!</h1>
        <p>Type in the new root name of the file... (ex. 400_ss_kg)</p>
        <p>Then upload the folder with the images. (Must be a folder)</p>
        <p>Then hit Go!
        <p>A download will begin and you will receive a zip file with the updated file names.</p>
        <div>
          <form
            action="/uploads"
            enctype="multipart/form-data"
            method="post"
            id="folders"
          >
          <div class="space">
            <input
              type="text"
              class="form-control"
              placeholder="New Name"
              name="newName"
            />
          </div>
            <div class="form-group space">
              <input
                type="file"
                class="form-control-file"
                name="uploaded_files"
                webkitdirectory
                mozdirectory
              />
            </div>
            <div class="form-group space"><input type="submit" value="Go" class="btn btn-success btn-md btn-block"/></div>
          </form>
        </div>
      </div>
    </main>

    <footer><%- include('./includes/footer'); %></footer>
  </body>
</html>
