<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./includes/head'); %>
  </head>
  <body class="container">
    <header><%- include('./includes/header'); %></header>

    <main>
      <div class="row">
        <div class="col-sm-16">
          <div class="jumbotron">
            <div class="container">
                <div class="row">
                  <div class="col-sm">
                    <img width="75%" height="auto" src="https://www.elitehomeproductsinc.com/wp-content/uploads/2017/12/Sheets.jpg" alt="">
                  </div>
                  <div class="col-sm text-center">
                    <h1>Your file is downloading now! Thanks for using.</h1>
                    <a class="nav-link" href="/">Click here to Upload another folder.</a>
                  </div>
                </div>
              </div>
          </div>
        </div>
        </div>
      </div>
    </main>

    <footer><%- include('./includes/footer'); %></footer>
  </body>
</html>
